

<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SGCA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <button class="btn btn-outline-light"  (click)="openModal()" type="button">Iniciar Sesion</button>
        </div>
      
      </nav>
  
      <div class="container mt-5">
            <h2 class="text-white">Nosotros</h2>
            <p class="text-white" >Aquí va la información sobre nosotros...</p>
      </div>


</section>