<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <div class="position-relative">
          <button type="button" (click)="close()" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Close"></button>
        </div>

        <form class="card-body cardbody-color p-lg-5">

          <div class="text-center">
            <img src="https://scontent.fcyw2-1.fna.fbcdn.net/v/t39.30808-6/380749537_3553898881524268_2165485471852868836_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHWi9Ssam6ONuEd8LXF2l0hhIcAImb88UeEhwAiZvzxRxxy4eNufmesicg4ZMn9xF9VlAY03BEiFJ9YeAuMiRyw&_nc_ohc=-JtdcGdpficQ7kNvgGjCaB8&_nc_ht=scontent.fcyw2-1.fna&oh=00_AYCftnO7zd3MOG1OKSnTyRErtuwc_JUwVSamie0wp9C1YA&oe=667A8FA9"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="User Name">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="password">
          </div>
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
          <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not Registered? <a href="#" class="text-dark fw-bold">Create an Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
